[submodule "cve/cvelistV5"]
	path = cve/cvelistV5
	url = https://github.com/CVEProject/cvelistV5.git
[submodule "tools/verhaal"]
	path = tools/verhaal
	url = https://git.sr.ht/~gregkh/verhaal
[submodule "tools/dyad"]
	path = tools/dyad
	url = https://git.sr.ht/~gregkh/dyad
[submodule "tools/bippy"]
	path = tools/bippy
	url = https://git.sr.ht/~sashal/bippy
	branch = main
[submodule "tools/voting_results"]
	path = tools/voting_results
	url = https://git.sr.ht/~sashal/voting_results
	branch = main
